# Python
__pycache__/
*.pyc

# Env local
.venv/
.env

# Données & modèles locaux
data/
models/
mlruns/
mlflow.db
minio-data/
logs/
tmp/

# Streamlit
.streamlit/

# Docker
*.env
docker-compose.override.yml

# Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
